<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Council Viz</title>
    <link rel="stylesheet" href="/commitee.css">
</head>
<body>
<header class="header">Council</header>

    <div class="box-grid">
   <a href="Education"><div class="box box-1"></div></a>
   <a href="Finance">  <div class="box box-2"></div></a>
   <a href="Health"> <div class="box box-3"></div></a>
   <a href="Housing"><div class="box box-4"></div></a>
   <a href="Planning">  <div class="box box-5">kj</div></a>
   <a href="Transport"> <div class="box box-6"></div></a>
   <a href="Licensing">  <div class="box box-7"></div></a>
   <a href="Other"> <div class="box box-8"></div></a>
   <a href="Staff Management"><div class="box box-9"></div></a>


</div>
    <script src="/script.js"></script>
    

</body>

</html>